body{
    margin: 0;
    font-family: 'Piazzolla', serif;
}
.name-heisenberg{
    color: red;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.half{
    width: 40%;
    float: left;
    margin: 5%;
    
}
.half img{
    width: 60%;
}
p{
    color: grey;
}
.name-pic{
    background-image: url("images/1st-back.png");
    background-repeat: no-repeat;
    height: 400px;
}
.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,salmon,tomato);
    padding: 5px 4px;
    margin: 10px;
    border-radius: 5px;
}
.pic-name{
    background-image: url("images/2nd-back.png");
    background-repeat: no-repeat;
    height: 400px;
}
footer p{
    text-align: center;
    font-size: 80px;
}
.enemy { 
    display: flex;
    width: 30%;
    height: 100%;
    float: left;
    align-items: center;
    
    justify-content: space-evenly;
    
    
}
.nd-half img{
    width: 40%;
    height: 20%;
}
.nd-half{
    background-image: url("images/3rd-back.png");
    background-repeat: no-repeat;
    height: 400px;
}
.text{
    text-align: center;
}
.last{
    text-align: center;
    background-image: linear-gradient(45deg,salmon,tomato);
    border-radius: 20px;
}